---

---

<header
  class="flex justify-center flex-wrap bg-primary-eary-black sticky top-0 z-10 py-4 text-primary-white"
>
  <nav class="scroll-m-1 2xl:px-32 px-7 z-10 transition-colors duration-300">
    <ul
      class="order-3 w-full lg:order-1 lg:flex lg:w-auto lg:space-x-2 lg:pb-0 pb-6 xl:space-x-8"
    >
      <li>
        <a href="/#hero" class="inline-block hover:underline">Home</a>
      </li>
      <li>
        <a href="/#about" class="inline-block hover:underline">About</a>
      </li>
      <li>
        <a href="/#experience" class="inline-block hover:underline"
          >Experience</a
        >
      </li>
      <li>
        <a href="/#pages" class="inline-block hover:underline">Pages</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const buttons = document.querySelectorAll("button.inline-flex");
  buttons?.forEach((button) => {
    button.addEventListener("click", (event) => {
      event.preventDefault();
      console.log("clicked");
    });
  });
</script>
